body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.row input[type="email"],
.row input[type="password"]{
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.submit-btn {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
